[Unit]
Description=Delete /var/run/nologin
Wants=sshd.service
After=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rm /var/run/nologin
RemainAfterExit=yes

[Install]
WantedBy=sshd.service
